
PriceCollector/.vs/PriceCollector/v16/.suo
PriceCollector/PriceCollector.Collector/obj/Debug/net5.0/PriceCollector.Collector.assets.cache
PriceCollector/PriceCollector.Collector/obj/Debug/net5.0/PriceCollector.Collector.csproj.AssemblyReference.cache
PriceCollector/PriceCollector.Collector/obj/Debug/net5.0/PriceCollector.Collector.GeneratedMSBuildEditorConfig.editorconfig
PriceCollector/PriceCollector.Collector/obj/PriceCollector.Collector.csproj.nuget.dgspec.json
PriceCollector/PriceCollector.Collector/obj/project.assets.json
PriceCollector/PriceCollector.Collector/obj/project.nuget.cache
PriceCollector/PriceCollector.CollectorStgPro/obj/Debug/net5.0/PriceCollector.CollectorStgPro.assets.cache
PriceCollector/PriceCollector.CollectorStgPro/obj/Debug/net5.0/PriceCollector.CollectorStgPro.GeneratedMSBuildEditorConfig.editorconfig
PriceCollector/PriceCollector.CollectorStgPro/obj/PriceCollector.CollectorStgPro.csproj.nuget.dgspec.json
PriceCollector/PriceCollector.CollectorStgPro/obj/project.assets.json
PriceCollector/PriceCollector.CollectorStgPro/obj/project.nuget.cache
PriceCollector/PriceCollector.Core/obj/Debug/net5.0/PriceCollector.Core.assets.cache
PriceCollector/PriceCollector.Core/obj/Debug/net5.0/PriceCollector.Core.csproj.AssemblyReference.cache
PriceCollector/PriceCollector.Core/obj/Debug/net5.0/PriceCollector.Core.GeneratedMSBuildEditorConfig.editorconfig
PriceCollector/PriceCollector.Core/obj/PriceCollector.Core.csproj.nuget.dgspec.json
PriceCollector/PriceCollector.Core/obj/project.assets.json
PriceCollector/PriceCollector.Core/obj/project.nuget.cache
