
PriceCollector/.vs/PriceCollector/v16/*
PriceCollector/PriceCollector.Collector/obj/Debug/net5.0/*
PriceCollector/PriceCollector.CollectorStgPro/obj/*
PriceCollector/.vs/PriceCollector/DesignTimeBuild/*
*.v2
PriceCollector/PriceCollector.Collector/bin/Debug/net5.0/*
PriceCollector/PriceCollector.Collector/obj/*
PriceCollector/PriceCollector.CollectorStgPro/obj/project.nuget.cache
PriceCollector/PriceCollector.Core/bin/Debug/net5.0/*
PriceCollector/PriceCollector.Core/obj/*
